@font-face {
    font-family: "Titer";
    src: url('../fonts/IRTitr.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

#image {
    width: 100% !important;
    /* height: 29.5cm !important; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titer {
    font-family: "Titer" !important;
}

.ab {
    position: absolute !important;
}

#id {
    position: absolute;
    color: rgb(24, 22, 22);
    font-weight: bold;
    top: 195px;
    right: 25px;
    font-size: 28px;
}

.center {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#name {
    color: #000;
    top: 654.5px;
    font-size: 58px;
}

#fatherName {
    color: white;
    top: 769px;
    font-size: 33px;
}

#titleWithFaculty {
    color: white;
    top: 856px;
    font-size: 32px;
}

#branch {
    color: #353A40;
    top: 935px;
    font-size: 33px;
}

#blood {
    color: #353A40;
    font-weight: bold;
    top: 987px;
    font-size: 33px;
}

#expireDate {
    color: #353A40;;
    top: 1042px;
    font-size: 33px;
}
