@font-face {
    font-family: "Titer";
    src: url('../fonts/IRTitr.ttf');
}

@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

#image {
    width: 100% !important;
    /* height: 29.5cm !important; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titer {
    font-family: "Titer" !important;
}

.ab {
    position: absolute !important;
}

#id {
    position: absolute;
    color: rgb(24, 22, 22);
    font-weight: bold;
    top: 195px;
    right: 12px;
    font-size: 28px;
    text-align: center;
}

#dbId {
    position: relative;
    top: -18px;
}

.center {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#name {
    color: #000;
    top: 654.5px;
    font-size: 58px;
}

#fatherName {
    color: white;
    top: 769px;
    font-size: 33px;
}

#titleWithFaculty {
    color: white;
    top: 856px;
    font-size: 32px;
}

#branch {
    color: #353A40;
    top: 935px;
    font-size: 33px;
}

#blood {
    color: #353A40;
    font-weight: bold;
    top: 987px;
    font-size: 33px;
}

#expireDate {
    color: #353A40;;
    top: 1042px;
    font-size: 33px;
}

#e_desc-div {
    width: 100%;
    text-align: center;
    top: 1180px;
}

#e_desc {
    width: 100%;
    color: #000;
    background: #fff;
    padding: 10px;
    font-family: 'Britannic' !important;
    font-size: 22px;
    text-align: center;
    position: relative;
    top: 51px;
}
